* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

div#img{ 
  width: 75%;
  height: 300px;
  box-shadow: 2px 2px 1px rgba(0,0,0, .5);
  margin-bottom: 32px;
  background-size:cover;
  background-position: center;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body, html, div.container{
  height:100vh;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

div > ul {
  display: block;
  width: 75%;
}

li.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#9999;
  padding:8px 8px 8px 20px;
  border-radius:20px;
  box-shadow: 2px 2px 4px #000;
  color:#333;
  
}

li.item :hover{
  text-shadow: 2px 2px 3px rgba(0,0,0, .5);
  cursor: pointer;
}

li.item p{
  font-size:1.3em;
}

div li + li {
  margin-top: 15px;
}

button {
  border-radius:20px;
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  /* overflow: hidden; */
  margin: 0 0 auto 15px;
  background: #ca4949;
}
